body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #f4f4f4;
  background-color: #323131;
}

h2 {
  color: #007bff;
}

/* Main */
.main {
  display: flex;
  flex-direction: row;
}

/* Content */
.content-section {
  width: 66.66%;
}

/* Info */
.info header h1 {
  padding: 20px;
  text-align: center;
}
/* Text */
.info h1 {
  color: #fff;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
}
.info h2 {
  color: #333;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
}
.info h3 {
  color: #007bff;
  margin-top: 10px;
}
.info p {
  color: #212529;
  margin: 10px 0;
}

.info section {
  background: #f8f9fa;
  border: 1px solid #ddd;
  margin: 20px 0;
  padding: 20px;
}

.info .highlighted-section {
  background: #e9ecef;
  border-left: 4px solid #007bff;
  padding: 15px;
  margin: 15px 0;
}

/* Large screens (desktops) */
@media (min-width: 993px) {
  /* Adjust styles for large screens */
  /* Sidebar styles */
  .content-section {
    width: 75%; /* 1/4 of the screen width */
  }
}
