.content-section {
  width: 66.66%;
}

.main {
  display: flex;
  flex-direction: row;
}

/* Large screens (desktops) */
@media (min-width: 993px) {
  /* Adjust styles for large screens */
  /* Sidebar styles */
  .content-section {
    width: 75%; /* 1/4 of the screen width */
  }
}
