{{define "content"}}
{{/* Find / Edit */}}
{{if .PageType.EditPage}}
  {{if eq .PageType.Mode "policy"}}
    {{template "policy-edit-form" .}}
  {{else}}
    <div class="content-container">
      <div class="row">
        <div>
          <h1>{{.SectionTitle}}</h1>
          {{template "form" .FormData}}
        </div>
      </div>
    </div>
  {{end}}
  {{/* Find All */}}
{{else if .PageType.ReadPage}}
  
  {{if eq .PageType.Mode "policy"}}
  <div class="content-container">
  <div class="row">
    <div>
      <h1>{{.SectionTitle}}</h1>
   

      <!-- Data table (includes action box) -->
      {{ template "groups-table" . }}
    </div>
  </div>
</div>
  {{else}}
<div class="content-container">
  <div class="row">
    <div>
      <h1>{{.SectionTitle}}</h1>
      <!-- Search box -->
      {{template "search" .}}

      <!-- Data table (includes action box) -->
      {{ template "data-table" . }}
    </div>
  </div>
</div>
  {{end}}
{{/* Create */}}
{{else if .PageType.CreatePage}}
<div class="content-container">
  <div class="row">
    <div>
      <h1>{{.SectionTitle}}</h1>
      {{template "form" .FormData}}
    </div>
  </div>
</div>
{{/* Delete */}}
{{else if .PageType.DeletePage}}
<div class="content-container">
  <div class="row">
    <div>
      <h1>{{.SectionTitle}}</h1>
      <div class="delete-box">
        <form
          class="delete-form"
          action="{{.FormData.FormDetails.FormAction}}"
          method="{{.FormData.FormDetails.FormMethod}}"
        >
          <a href="{{.SchemaHome}}" class="delete-cancel-button">Cancel</a>
          <button type="submit" class="delete-button">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{/* Success */}}
{{else if .PageType.SuccessPage}}
<div class="content-container">
  <div class="row">
    <div>
      <h1>{{.SectionTitle}}</h1>
    </div>
  </div>
</div>
{{/* Error */}}
{{else}}
<div class="content-container">
  <div>
    <div>
      <h1>Whoops! Sorry!</h1>
      <p>We couldn't find that page!</p>
    </div>
  </div>
</div>
{{ end }}

{{ end }}
