{{define "sidebar"}}
<!-- Sidebar -->
<div class="sidebar">
  <ul class="sidebar-menu">
    {{
      range.SidebarList
    }}
    <li class="sidebar-item">
      <div class="sidebar-label">{{.}}</div>
      <div class="plus-sign">+ Add</div>
    </li>
    {{
      end
    }}
  </ul>
  <!-- Add more sidebar items as needed -->
</div>
{{ end }}
