{{define "sidebar"}}
<!-- Sidebar -->
<div class="sidebar">
  <ul class="sidebar-menu">
    {{
      range.SidebarList
    }}
    <li class="sidebar-item">
      <div class="sidebar-label">
        <a href="{{.FindAllLink}}">
          {{.Name}}
        </a>
      </div>
      <a class="add-link" href="{{.AddLink}}">
        <div class="plus-sign">+ Add</div>
      </a>
    </li>
    {{
      end
    }}
  </ul>
  <!-- Add more sidebar items as needed -->
</div>
{{ end }}
